@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

h1::selection, h2::selection, h3::selection, p::selection, span::selection{
  background-color: #17e1e7;
}

h1, h2, h3, h4, h5, p, a, button, li, span{
  font-family: 'Roboto', sans-serif !important;
}

body{
  align-items: center;
}

h1{
  font-size: 16pt;
  font-weight: 200;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{opacity: 0.8;}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12pt;
}

button{
  color: aliceblue;
  background-color: #17e1e7;
  color: #001e40;
  border: none;
  font-size: 9pt;
  font-weight: 500;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover{
  opacity: 0.8;
}

.App {
  text-align: center;
}

/* register landing */

.register-landing{
  display: flex;
  height: 100vh;
}

.register-landing .form{
  background-color: #001e40;
  color: aliceblue;
  width: 70%;
  box-shadow: 14px 0px 29px -4px rgba(0,0,0,1);
  z-index: 1000;
  padding-top: 60px;
}



.register-landing .form .zapas{
  width: 40%;
}

.register-landing form{
  display: grid;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: right;
}

.register-landing form label{
  font-size: 10pt;
  grid-column: 1 / 2;
  align-self: center;
}

.register-landing form input{
  grid-column: 2 / 3;
  align-self: center;
}
.register-landing a {
  color: aliceblue;
}

/* register landing */

/* home */

.home{
  margin: 0 auto;
  align-items: center;
  width: 80vw;
}

/* home */

/* slider */

.slider{
  margin: 0 auto !important;
  text-align: center;
  width: 1163px;
}

/* slider */

/* navbar */
.navbar{
  background-color: #292929;
  padding: 10px 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar .ingresa{
  color: #17e1e7;
  font-size: 9pt;
}

.navbar .ingresa span{
  transform: rotate(90deg);
  position: relative;
  top: -3px;
  float: right;
  margin-left: 10px;
  font-size: 13pt;
}

/* navbar */



/* footer */
.footer{
  color: aliceblue;
  background-color: #001e40;
 
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* footer */