@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
span::selection,
li::selection,
label::selection,
input::selection,
a::selection {
  background-color: #17e1e7;
  color: #001e40;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
button,
li,
span {
  font-family: "Roboto", sans-serif !important;
}

body {
  align-items: center;
}

h1 {
  font-size: 18pt;
  font-weight: 900;
  margin: 0;
}

h2{
  font-size: 15pt;
  font-weight: 700;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 10pt;
}

button {
  color: aliceblue;
  background-color: #17e1e7;
  color: #001e40;
  border: none;
  font-size: 9pt;
  font-weight: 500;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}

.App {
  text-align: center;
}

/* register landing */

.register-landing {
  display: flex;
  height: 100vh;
}

.register-landing .form {
  background-color: #001e40;
  color: aliceblue;
  width: 70%;
  box-shadow: 14px 0px 29px -4px rgba(0, 0, 0, 1);
  z-index: 1000;
  padding-top: 60px;
}

.register-landing .form .zapas {
  width: 40%;
}

.register-landing form {
  display: grid;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: right;
  padding: 20px 0;
}

.register-landing h1{
  font-weight: 300;
  padding: 30px 0;
}
.register-landing form label {
  font-size: 10pt;
  grid-column: 1 / 2;
  align-self: center;
}

.register-landing form input {
  grid-column: 2 / 3;
  align-self: center;
}
.register-landing a {
  color: aliceblue;
}

/* register landing */

/* home */

.home {
  margin: 0 auto;
  align-items: center;
  width: 80vw;
}

.home-adentro {
  display: flex;
  text-align: left;
  padding: 30px 0;
}

/* home */

/* slider */

.slider {
  margin: 0 auto !important;
  text-align: center;
}

/* slider */

/* navbar */
.navbar {
  background-color: #292929;
  padding: 10px 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar .ingresa {
  color: #17e1e7;
  font-size: 9pt;
  text-align: left;
}

.navbar .ingresa span {
  transform: rotate(90deg);
  position: relative;
  top: -3px;
  float: right;
  margin-left: 10px;
  font-size: 13pt;
}

.navbar a:hover {
  opacity: 1;
}

.logo-nav {
  cursor: pointer;
  position: relative;
  width: 11rem;
}
.logo-nav:hover {
  top: -1px;
  left: -1px;
}

.searchbar input {
  width: 20rem;
  padding: 4px;
  margin-right: 10px;
}

.searchbar button {
  padding: 6px;
}
/* navbar */

/* footer */
.footer {
  color: aliceblue;
  background-color: #001e40;
  padding: 20px 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer input {
  width: 300px;
}
/* footer */

/* slider */

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slick-slide img {
  display: block;
  height: auto;
  width: 100%;
}

/* filtros */

.filtros {
  padding: 20px 15px;
  border: 1px solid #e8e8e8;
  width: 170px;
  height: max-content;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.filtros h3 {
  font-size: 11pt;
}

.filtro-adentro {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.filtro-adentro label {
  color: #a2a2a2;
  margin: 10px;
}

.filtro-adentro button {
  color: #ffffff;
  margin-top: 10px;
}
.filtro-adentro ul {
  height: 170px;
  overflow-y: scroll;
}

.filtro-adentro ul::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra */
  background-color: #d7fbfd; /* Color de fondo */
}

/* Para el botón de desplazamiento */
.filtro-adentro ul::-webkit-scrollbar-thumb {
  background-color: #0e2b4d; /* Color del botón */
}

.filtro-adentro li {
  margin: 5px 0;
  font-size: 9pt;
}

/* fin filtros */

/* cards container */

.card img {
  width: 215px;
  height: auto;
  overflow: hidden;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 0 20px;
  width: 75%;
  margin: 0 auto;
}

.cards-container h5 {
  margin: 3px;
  font-size: 11pt;
}

.cards-container a {
  color: #000;
}

.cards-container .marca {
  font-size: 9pt;
  background-color: #17e1e7;
  color: #0e2b4d;
  text-align: right;
  padding: 5px 10px;
  width: 50%;
  position: relative;
  margin-top: -43px;
  left: -15px;
}

.card:hover{
  transform: scale(1.01);
}

/* cards container */

/* orden y paginado */

.order-paginate,
.ordenar,
.paginado,
.paginado ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-paginate h5 {
  margin: 0 10px 0 0;
}

.paginado button {
  background-color: #ffffff;
}

.paginado li,
.paginado button {
  font-weight: 600;
  font-size: 10pt;
}

.paginado li {
  margin: 0 3px;
}

/* fin orden y paginado */

/* detail */

.detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
  gap: 30px;
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.detail img{
  width: 100%;
  transition: transform 0.1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.img-cont{
  width: 265px;
  height: 380px;
  overflow: hidden;
}


.detail-der h1{
  font-size: 1.4rem;
  background-color: #17e1e7;
  color: #0e2b4d;
  text-align: right;
  padding: 5px 20px 5px 150px;
  margin-bottom: 10px;
  width: max-content;
}

.detail-der h3{
  font-size: 38pt;
  font-weight: 300;
}

.options{
  display: flex;
  flex-direction: column;
}
.options button{
  margin: 5px 0;
  padding: 10px 0;
}

.options select{
  margin-bottom: 5px;
}
.comprar{
  background-color: #0e2b4d;
  color: #ffffff;
}
.favs{
  background-color: #d9d9d9;
  color: #4d4d4d;
}

.description {
  border-top: 1px solid #d9d9d9;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  margin-top: 10px;
}
/* detail */
